PORT=5000
MONGODB_URI=your_mongodb_atlas_connection_string
JWT_SECRET=soleva_ultra_secure_jwt_secret_key_production_2026_x89
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
ADMIN_EMAIL=admin@soleva.com
ADMIN_PASSWORD=Admin@123456
